body {
    font-family: Papyrus, fantasy;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 .1rem rgba(0, 0, 0, 0.5);
    background-color: antiquewhite;
  }
  
  img {
    width: 50%;
    display: block;
    margin: auto;
  }

  a:hover {
    text-decoration: none;
  }
  
  button {
    margin-top: 1em;
  }